/* 看區塊邊界用的 */
/* border: 2px solid #ff00ee; */

/* default部份重製 */
* {
    box-sizing: border-box;
    margin: 0;
}


/* header */
header div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 10vh;
}

header h1 {
    font-size: 2em;
    padding: 0.5em 0;
}

header img {
    height: 100%;
    display: inline;
}



/* nav */

nav {
    display: flex;
    justify-content: right;
}

nav a {
    display: inline-block;
    padding: 1rem;
    font-size: 1.2em;
    text-decoration: none;
}

nav a:hover {
    background-color: #ff00ee;
    text-decoration: underline;
}

/* theme color：
    background/primary color： black #000000, white #ffffff,
    highlight： magenta #ff00ee,
    secondary color：gray #858585, light gray #cdcdcd, */

nav,
footer,
nav a {
    background: black;
    color: white;
}


.highli_ {
    background: #ff00ee;
}

.se_gray {
    background: #858585;
}

.se_ligray {
    background: #cdcdcd;
}

/* aboutme */


.container img {
    height: 40vh
}

.aboutme_card,
.aboutme_skill {
    display: flex;
    width: 100%;
}

.aboutme_text,
.aboutme_text>h3,
.aboutme_text div {
    padding-left: 1em;
    padding-top: 1em;
}