.pt:after {
    content: "pt";
}

.px:after {
    content: "px";
}

.em:after {
    content: "em";
}

.perc:after {
    content: "%";
}

.size:after {
    content: "";
}


table {
    border-collapse: collapse;
    border: thin solid black;
}

th,
td {
    padding: 0.5em 1.2em;
    text-align: right;
}

tr:nth-child(odd) {
    background-color: rgba(128, 128, 128, 0.466);

}

th {
    background-color: var(--heavy-color);

}